@import "tailwindcss";

:root {
  --background-color: #f4f4f6;
  --btn-color: #156ff5;
  --font-color: black;
  --font-white: white;
  --size: clamp(16px, 1.5vw, 80px);
}

@font-face {
  font-family: gilroy;
  src: url(../public/Fronts/Gilroy-Medium.ttf);
}

body {
  font-family: gilroy;
}
